
body {
    background-color: burlywood;
    
}

.title {
display: block;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding: 30px;
margin: 30px;
font-size: 40px;}

.lasagna {display: inline-block;
padding: 40px;
font-size: 30px;}


.pasta {display: inline-block;
padding: 40px;
font-size: 30px;}


.bread {display: inline-block;
padding: 40px;
font-size: 30px;}

.navbar{
    text-align: center;
    padding: 10px;
    margin: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {text-decoration: none;}

.ingr {
    text-align: center;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.divcen {text-align: center;}

.homebut {text-align: left;
padding: 15px;
font-size: 30px;
font-family: 'Times New Roman', Times, serif;
display: inline-block;
margin: 10px;
background-color: rgb(207, 166, 54);
border: 2px;
border-color: black;
border-width: 3px;
border-style: solid;
}

ul {
    list-style-type: none;
}

ol {text-align: center;
list-style-position: inside;}